
<div class="card">
        <img src={{@product.image}} alt="No image" style="width:100%">
        <h1>{{@product.title}}</h1>
        <p class="price">{{@product.price}}</p>
        <div>
            <p>Brand: {{@product.brand}}</p>
            <p>Size: {{@product.size}}</p>
            <p>Category: {{@product.category}}</p>
            <p>Description: {{@product.description}}</p>
            <p><button type="button">Add to Cart</button></p>
        </div>
    </div>